data/stack_exchange/physics.jsonl filter=lfs diff=lfs merge=lfs -text
data/stack_exchange/stackoverflow.jsonl filter=lfs diff=lfs merge=lfs -text
data/stack_exchange/crypto.jsonl filter=lfs diff=lfs merge=lfs -text
data/stack_exchange/cs.jsonl filter=lfs diff=lfs merge=lfs -text
data/stack_exchange/cstheory.jsonl filter=lfs diff=lfs merge=lfs -text
data/stack_exchange/datascience.jsonl filter=lfs diff=lfs merge=lfs -text
data/stack_exchange/math.jsonl filter=lfs diff=lfs merge=lfs -text
data/dpo_training/** filter=lfs diff=lfs merge=lfs -text
data/sft_training/** filter=lfs diff=lfs merge=lfs -text
